@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-image: url("images/eid-mubarak.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 140vh;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1{
    font-weight: bolder;
    font-size: 70px;
    margin: -150px 0 40px;
    


    
}
.eid{
    margin-bottom: 30px;
}


.countdown{
    display: flex;
    transform: scale(2);
    border-style: hidden;
    border-radius: 10px;
    border-width: 5px;
    
    
}
.time{
    
  display: flexbox;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  margin: 15px;
  width: 50px;
  height: 43px;
  background: linear-gradient(rgb(130, 130, 219), aqua) ;
  border-radius: 10px;
  
}
small{
    font-weight: bold;
}
h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    margin: 0 0 5px;
    
}
.headline2{
    font-weight: bold;
    text-shadow: 1px 1px 5px Tomato;
}

footer{
    display: inline-flexbox;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    border: 10px;
   
}


@media (max-width:500px){
    h1{
        font-size: 45px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 12px;
    }
    .time small{
        font-size: 10px;
    }
}